[Desktop Entry]
Encoding=UTF-8
Name=Gaphor
Comment=UML modeling environment written in Python
Comment[pl]=Środowisko modelowania UML oparte o Pythona
Exec=gaphor
Terminal=false
MultipleArgs=false
Type=Application
Categories=Development;
# vi: encoding=utf-8
